name: Windows release

on:
    release:
      types:
        - created

jobs:
    windows:
        name: Windows Py${{ matrix.PYTHON_VERSION }}
        runs-on: windows-latest
        env:
            PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
            RUNNER_OS: "windows"
        strategy:
            fail-fast: false
            matrix:
                PYTHON_VERSION: ["3.6", "3.7", "3.8", "3.9"]
        steps:
            - name: Checkout branch
              uses: actions/checkout@v2
            - name: Install latest Rust stable
              uses: actions-rs/toolchain@v1
              with:
                toolchain: stable
                target: x86_64-pc-windows-msvc
                override: true
                components: rustfmt, clippy
            - name: Install miniconda
              uses: conda-incubator/setup-miniconda@v2
              with:
                auto-update-conda: true
                activate-environment: test
                channels: conda-forge,defaults
                python-version: ${{ matrix.PYTHON_VERSION }}
            - name: Conda env info
              shell: bash -l {0}
              run: conda env list
            - name: Install winpty
              shell: bash -l {0}
              run: conda install -y winpty
            - name: Install build/test dependencies
              shell: bash -l {0}
              run: pip install maturin toml
            - name: Copy winpty binaries to package
              shell: bash -l {0}
              run: bash -l .github/scripts/copy_winpty.sh
            - name: Build and publish wheels
              env:
                MATURIN_PASSWORD: ${{secrets.MATURIN_PASSWORD}}
                MATURIN_USERNAME: ${{secrets.MATURIN_USERNAME}}
              shell: bash -l {0}
              run: maturin publish -i $(which python) -u $MATURIN_USERNAME --no-sdist
