name: Windows tests

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master
jobs:
    windows:
        name: Windows Py${{ matrix.PYTHON_VERSION }}
        runs-on: windows-latest
        env:
            PYTHON_VERSION: ${{ matrix.PYTHON_VERSION }}
            RUNNER_OS: "windows"
        strategy:
            fail-fast: false
            matrix:
                PYTHON_VERSION: ["3.6", "3.7", "3.8", "3.9"]
        steps:
            - name: Checkout branch
              uses: actions/checkout@v2
            - name: Install latest Rust stable
              uses: actions-rs/toolchain@v1
              with:
                toolchain: stable
                target: x86_64-pc-windows-msvc
                override: true
                components: rustfmt, clippy
            - name: Install miniconda
              uses: conda-incubator/setup-miniconda@v2
              with:
                auto-update-conda: true
                activate-environment: test
                channels: conda-forge,defaults
                python-version: ${{ matrix.PYTHON_VERSION }}
            - name: Conda env info
              shell: bash -l {0}
              run: conda env list
            - name: Install winpty
              shell: bash -l {0}
              run: conda install -y winpty
            - name: Install build/test dependencies
              shell: bash -l {0}
              run: pip install maturin toml pytest pytest-lazy-fixture flaky
            - name: Build pywinpty
              shell: bash -l {0}
              run: maturin develop
            - name: Run tests
              shell: pwsh
              run: python runtests.py
            # Enable this to get RDP access to the worker.
            # - name: Download
            #   if: ${{ failure() }}
            #   run: Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
            # - name: Extract
            #   if: ${{ failure() }}
            #   run: Expand-Archive ngrok.zip
            # - name: Auth
            #   if: ${{ failure() }}
            #   run: .\ngrok\ngrok.exe authtoken <ngrok token>
            # - name: Enable TS
            #   if: ${{ failure() }}
            #   run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
            # - run: Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
            #   if: ${{ failure() }}
            # - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
            #   if: ${{ failure() }}
            # - run: Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "P@ssw0rd!" -Force)
            #   if: ${{ failure() }}
            # - name: Create Tunnel
            #   if: ${{ failure() }}
            #   run: .\ngrok\ngrok.exe tcp 3389
